@import 'reset';
@import 'flex';
@import 'animate';
// ======================== variable fuentes
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700|Gochi+Hand);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
$titi: 'Titillium Web', sans-serif;
$gochi: 'Gochi Hand', cursive;
$lato: 'Lato', sans-serif;

// ====================== colores
$rojo01: #D5262E;

@mixin transition ($sec){
        -webkit-transition: all $sec ease;
        -moz-transition: all $sec ease;
        -ms-transition: all $sec ease;
        -o-transition: all $sec ease;
        transition: all $sec ease;
}

@mixin rotate($rot){
        -webkit-transform: rotate($rot);
        -ms-transform: rotate($rot);
        -o-transition: rotate($rot);
        transform: rotate($rot);
}


// ========================= header
body{
        background: url(../img/bg.png);
        font-family: $lato;
}

header{
        width: 100%;
        height: 90px;
 background-image: linear-gradient(-180deg, #DA2730 0%, #D5262E 100%);
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
        .__wrap{
                width: 1024px;
                height: 100%;
                margin: auto;
                .__logo{
                        width: 140px;
                        height: 100%;
                        background: #fff;
                        float: left;
                }
                .__title{
                        width: 250px;
                        height: 99%;
                        background: rgba(255, 255, 255, .08);
                        float: left;
                        font-family: $gochi;
                        color: #fff;
                        font-size: 31px;
                        text-align: center;
                        padding-top: 1%;
                        .__line{
                                display: block;
                                height: 1px;
                                width: 80%;
                                margin: auto;
                                background: #fff;
                        }
                }
                .__grado{
                        font-family: $lato;
                        font-size: 19px;
                }
                .__btn{
                        width: 47px;
                        height: 47px;
                        border-radius: 47px;
                        background: rgba(255, 255, 255, .08);
                        float: right;
                        cursor: pointer;
                        margin: 17px 20px 0 0;
                        @include transition(300ms);
                        &:hover{
                                background: rgba(255, 255, 255, .9);
                        }
                        &:nth-of-type(1){
                                margin: 17px 0 0 0;
                        }
                        &.--menu{
                                position: relative;
                                z-index: 200;
                        }
                        .__bar{
                                width: 22px;
                                height: 2px;
                                background: #fff;
                                display: block;
                                margin: 5px auto 0;
                                clear: both;
                                @include transition(300ms);
                                &:nth-of-type(1){
                                        margin: 16px auto 0;
                                }
                        }

                }
        }
}
.openMenu{
        background: #fff !important;

        span{
                background:  $rojo01 !important;
                &:nth-of-type(1){
                        -webkit-transition: translate(0, 7px) rotate(45deg);
                        -moz-transition: translate(0, 7px) rotate(45deg);
                        -ms-transition: translate(0, 7px) rotate(45deg);
                        -o-transition: translate(0, 7px) rotate(45deg);
                        transform: translate(0, 7px) rotate(45deg);  /* Standard syntax */
                }
                &:nth-of-type(2){
                        display: none !important;
                }
                &:nth-of-type(3){
                        @include rotate(-45deg);
                }
        }
}
//  =============== main
.mainWrap{
        width: 1024px;
        min-height: 678px;
        margin: auto;
        border: 1px solid rgb(241,241,241);
        background: #fff;
}
.shadow{
        width: 1024px;
        height: 17px;
        margin: auto;
        background: url(../img/shadow.png);
}
// ================= navegacion
.next, .prev{
        display: block;
        position: fixed;
        width: 30px;
        height: 80px;
        background-color: $rojo01;
        top: 40%;
        background-position: center 25px;
        background-repeat: no-repeat;
        cursor: pointer;
        @include transition(300ms);
        span{
                display: none;
                color: #fff;
                font-size: 14px;
                text-align: center;
                padding-top: 55px;
                font-weight: 600;
        }
        &:hover{
                width: 100px;
                span{
                        display: block;
                }
        }
}
.next{
        right: 0;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        background-image: url(../img/next.svg);
}
.prev{
        left: 0;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        background-image: url(../img/prev.svg);
}
// ======================= menu pricipal
.mainMenu{
        display: none;
        width: 100%;
        height: 100%;
        background: rgba(209, 37, 51, .8);
        position: fixed;
        top: 0;
        z-index: 100;
}
