<!DOCTYPE html>
html(lang="es")
	include include/head
	body
		header
			.__wrap
				.__logo
				.__title Matemáticas
					span.__line
					span.__grado Octavo Grado
				.__btn.--menu
					span.__bar
					span.__bar
					span.__bar
				.__btn
		include include/menu
		include include/nav
		section
			.mainWrap
			.shadow
